<template>
  <div>
    <section class="work">
      <figure class="white" v-for="ressource in ressources" :key="ressource.id">
         <router-link :to="{name: 'ressources.show', params: {id: ressource.id}}">
             <img :src="'img/' + ressource.image" alt="" />
           <dl>
             <dt>{{ ressource.nom }}</dt>
             <dd>{{ ressource.description }}</dd>
           </dl>
         </router-link>

        <div id="wrapper-part-info">
          <div class="part-info-image">
            <img :src="'img/' + ressource.categorie.icone" alt="" width="28" height="28"/>
          </div>
          <div id="part-info">{{ ressource.nom }}</div>
        </div>
      </figure>
    </section>
  </div>
</template>

<script>
  export default {
    computed: {
      ressources () {
        let id = this.$route.params.id;
        return this.$store.getters.getRessourcesByCategorieId(id);
      }
    }
  }
</script>
