<template>
  <div>
    <a name="ancre"></a>

    <!-- CACHE -->
    <div class="cache"></div>

    <!-- HEADER -->
    <div id="wrapper-header">
    	<div id="main-header" class="object">
        <router-link to="/">
          <div class="logo"><img src="img/logo-burst.png" alt="logo platz" height="38" width="90"></div>
        </router-link>

        <!-- SEARCH -->
        <div id="main_tip_search">
    			<form>
    				<input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required @keyup="searchRessource" v-model="search">
    			</form>
    		</div>
            <div id="stripes"></div>
        </div>
    </div>

    <!-- NAVBAR -->

    <div id="wrapper-navbar">
    		<div class="navbar object">
   			<div id="wrapper-bouton-icon" v-for="categorie in categories" :key="categorie.id">
          <router-link v-if="categorie.id === 6" :to="{name: 'ressource.index'}">
     				<div id="bouton-ai">
              <img :src="'img/'+ categorie.icone" :title="categorie.nom" :alt="categorie.nom" height="28" width="28">
            </div>
          </router-link>
          <router-link v-else :to="{name: 'categories.show', params: { id: categorie.id }}">
            <div id="bouton-ai">
              <img :src="'img/'+ categorie.icone" :title="categorie.nom" :alt="categorie.nom" height="28" width="28">
            </div>
          </router-link>
    	   </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js';
export default {
  data() {
    return {
      search : '',
    }
  },
  methods: {
    searchRessource() {
        EventBus.$emit('search-value', this.search);
    }
  },
  computed: {
    // Affichage des catégories
    categories() {
      return this.$store.getters.getCategories;
    }
  }
}
</script>
