<template>
  <div>
    <section class="work">
      <figure class="white" v-for="ressource in ressources" :key="ressource.id">
         <router-link :to="{name: 'ressources.show', params: {id: ressource.id}}">
             <img :src="'img/' + ressource.image" alt="" />
           <dl>
             <dt>{{ ressource.nom }}</dt>
             <dd>{{ ressource.description }}</dd>
           </dl>
         </router-link>

        <div id="wrapper-part-info">
          <div class="part-info-image">
            <img :src="'img/' + ressource.categorie.icone" alt="" width="28" height="28"/>
          </div>
          <div id="part-info">{{ ressource.nom }}</div>
        </div>
      </figure>
    </section>

    <div class="buttons">
      <button type="button" class="btn btn-dark" style="margin-top: 50px; margin-left: 40%;" @click="moreResources += 8">
        More ressources
      </button>
    </div>
  </div>
</template>

<script>
import {
    EventBus
} from '../../event-bus.js';
  export default {
    data() {
      return {
        moreResources : 20,
        searchvalue: '',
      }
    },
    computed: {
      ressources() {
        // créer une methode setActive !!!
          let ressources = this.$store.getters.getRessources.map((el, index) => {
              if (index < this.moreResources) el.isActive = true;
              return el;
          });
          //créer une méthode setFilter !!!
          ressources = ressources.filter(el => {
            if (el !== undefined && el.isActive === true ) {
            
                if (el.nom.toLowerCase().includes(this.searchvalue.toLowerCase())) {

                    return true;
                } else if (el.categorie.nom.toLowerCase().includes(this.searchvalue.toLowerCase())) {
                    return true;
                } else {
                  this.moreResources = 20
                    return false
                }
            }
          });
          return ressources;

        //Afficher plus de ressources via le bouton 'more'
        //return this.$store.getters.getRessources.slice(0, this.moreResources);
      }
    },
    created() {
      EventBus.$on('search-value', (search) => {
          this.searchvalue = search;
      })
    },
  }
</script>
